body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(40, 158, 194);
}

h1 {
    font-size: 64px;
    color: rgb(44, 19, 90);
}

#container {
    background-color: aqua;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
}

#display {
    border: 1px solid black;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 8px;
    margin-bottom: 8px;
    background-color: rgb(6, 236, 236);
}

button {
    width: 60px;
    height: 60px;
    margin: 2px;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: strong;
    background-color: rgb(127, 251, 255);
    color: rgb(44, 19, 90);
}


#add,
#subtract,
#multiply,
#divide {
    margin-left: 20px;
}